<div *ngIf="user" class="center">
  <h1>Berufsbezeichnung ändern von {{ user.username }}</h1>
  <div class="w-50">
    <input
      [formControl]="jobForm"
      class="form-control form-control-color w-100"
      id="job"
      name="text"
      placeholder="Berufsbezeichnung"
      type="text"
    />
    <div *ngIf="jobForm?.invalid && (jobForm?.dirty)"
         class="alert alert-danger">
      <div *ngIf="jobForm?.errors?.['required']">
        Arbeitsbezeichnung muss eingegeben werden.
      </div>
      <div *ngIf="jobForm?.errors?.['minlength']">
        Arbeitsbezeichnung muss mindestens 1 Zeichen lang sein.
      </div>
      <div *ngIf="jobForm?.errors?.['maxlength']">
        Arbeitsbezeichnung kann maximal 32 Zeichen lang sein.
      </div>
      <div *ngIf="jobForm?.errors?.['pattern']">
        Arbeitsbezeichnung kann nur aus folgenden Zeichen bestehen. a-Z
      </div>
    </div>
    <button
      (click)="update()"
      class="btn btn-sm btn-primary w-100"
      type="button"
      [disabled]="jobForm.invalid"
    >
      Ändern
    </button>
  </div>
</div>
