<div class="center">
  <h1 class="text-center w-100">Login</h1>
  <form [formGroup]="loginFormGroup" class="login-form">
    <input
      [formControlName]="usernameForm"
      class="form-control form-control-color w-100"
      id="username"
      name="username"
      placeholder="Username"
      type="text"
    />
    <input
      [formControlName]="passwordForm"
      class="form-control form-control-color w-100"
      id="password"
      name="password"
      placeholder="Password"
      type="password"
    />
    <button
      (click)="login()"
      class="btn btn-sm btn-primary w-100"
      type="button"
      [disabled]="loginFormGroup.invalid">
      Login
    </button>
  </form>
</div>
